@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:regular,regularitalic,bold,bolditalic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

@font-face {
  font-family: 'MuseoSlab500';
  src: url('/fonts/Museo_Slab_500-webfont.eot');
  src: url('/fonts/Museo_Slab_500-webfont.eot?iefix') format('eot'),
       url('/fonts/Museo_Slab_500-webfont.woff') format('woff'),
       url('/fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
       url('/fonts/Museo_Slab_500-webfont.svg#webfont8VbsAwew') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab500';
  src: url('/fonts/Museo_Slab_500italic-webfont.eot');
  src: url('/fonts/Museo_Slab_500italic-webfont.eot?iefix') format('eot'),
       url('/fonts/Museo_Slab_500italic-webfont.woff') format('woff'),
       url('/fonts/Museo_Slab_500italic-webfont.ttf') format('truetype'),
       url('/fonts/Museo_Slab_500italic-webfont.svg#webfontrnC2qhZD') format('svg');
  font-weight: normal;
  font-style: italic;
}

body { font-size: 13px; font-family: 'Droid Sans',sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: #ff5900;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
}
h3, h4, h5, h6 {
  font-size: 16px;
}
h2 a, h3 a, h4 a, h5 a, h6 a, .views-field-title a {
  color: #ff5900;
  text-decoration: none;
}
h2 a:active, h2 a:visited,
h3 a:active, h3 a:visited,
h4 a:active, h4 a:visited,
h5 a:active, h5 a:visited,
h6 a:active, h6 a:visited,
.views-field-title a, {
  color: #ff5900;
  text-decoration: none;
}

a,
a:active,
a:visited {
  color: #0d56a6;
  text-decoration: none;
}
a:hover {
  color: #4186d3;
}
.views-field-title a:active, 
.views-field-title a:visited {
  color: #ff5900;
}


/**
 * Primary styles
 * 
 */

body {
  background-color: #8b8b8b;
}

blockquote {
  padding: 0 40px 0 40px;
  font-style: italic;
  color: #666;
}

p,
.views-field-body {
  line-height: 1.5em;
}
.submitted {
  margin: 5px 0 5px 0;
  font-style: italic;
  color: #999;
}
ul.inline li {
  padding: 0 10px 0 0;
}
ul.inline li.node-readmore,
.readmore { 
  padding: 5px 10px 5px 10px; 
  background-color: #4186d3; 
  border-radius: 15px;
  -moz-border-radius: 15px;
}
ul.inline li.node-readmore a,
.readmore a{ 
  color: #fff;
}
ul.inline li.node-readmore a:hover,
.readmore a:hover {
  color: #efefef;
}

.content p,
.content .view-content {
  margin-bottom: 10px;
}
#main-content .content p img {
  padding: 5px;
}

#page {
  background-color: #fff;
  padding-bottom: 10px;
  margin-bottom: 40px;
  margin-top: -20px;
  border-radius: 0 0 10px 10px / 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px / 0 0 10px 10px; 
  -moz-box-shadow: 0 0 5px 5px #595959;
  -webkit-box-shadow: 0 0 5px 5px #595959;
  box-shadow: 0 0 5px 5px #595959;
}

#header {
  width: 940px;
  margin: 0;
  padding: 20px 0 20px 10px;
  color: #fff;
}
#site-name {
  font-family: 'Josefin Sans';
  font-size: 64px;
  font-weight: bold; }
#site-name .orange {
  color: #ff5900;
}
#site-name .dark-grey {
  color: #595959;
}

.front #content-top {
  width: 960px;
  margin: 0 0 20px;
  padding: 0;
}
.front #content-top img {
  border: none;
  margin: 0 0 -4px 0;
  padding: 0;
}
.front #content-top ul {
  margin: 0;
  padding: 0;
  width: 360px;
}
.front #content-top ul li {
  background-color: #0d56a6;
  background-image: -moz-linear-gradient(100% 100% 90deg, #0d56a6, #4186d3);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4186d3), to(#0d56a6));
  background-image: -webkit-linear-gradient(#4186d3, #0d56a6); 
  background-image: -o-linear-gradient(top, #0d56a6, #4186d3);
  list-style: none;
  margin: 0;
  padding: 25px 0 25px 40px;
  border-bottom: 1px solid #fff;
}
.front #content-top ul li.last {
  border-bottom: 1px solid #0d56a6;
}
.front #content-top ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.front #content-top ul li a:hover {
  color: #efefef;
}

#primary-nav {
  background-color: #ff5900;
  /*
  background-image: -moz-linear-gradient(100% 100% 90deg, #ff5900, #fd813f);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd813f), to(#ff5900));
  background-image: -webkit-linear-gradient(#fd813f, #ff5900); 
  background-image: -o-linear-gradient(top, #ff5900, #fd813f);
  */
  padding: 0;
  margin: 0 0 40px 0px;
  font-size: 16px;
  width: 960px;
}
#primary-nav ul {
  margin: 0;
  padding: 0 10px 0 10px;
  vertical-align: middle;
}
#primary-nav ul li {
  margin: 0;
  padding: 20px;
  list-style: none;
  float: left;
  border-right: 1px solid #fff;
}
#primary-nav ul li.first {
  padding-left: 0;
}
#primary-nav ul li.last {
  border-right: none;
}
#primary-nav ul li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
#primary-nav ul li a:hover {
  color: #efefef;
}

#content-top {
  margin-bottom: 20px;
}
#content-top div {
  float: left;
}

#content-middle {
  margin-top: 20px;
  margin-bottom:20px;
}
#content-middle h1 {
  padding: 0;
}

#main-content {
  padding: 10px 0 0 0;
}
#main-content .content ul, 
#main-content .content ol {
  margin-left: 20px;
  padding-bottom: 10px;
}
#main-content .content ul.links {
  margin: 0;
  padding: 0;
}
#main-content .field-type-taxonomy-term-reference .field-items .field-item {
  float: left;
  padding-right: 7px;
}
#main-content .downloadable-files {
  border: 1px solid #eaeaea;
  padding: 10px;
  float: right;
  margin: 0 5px 10px 10px;
}
#main-content .downloadable-files h3 {
  margin-bottom: 5px;
}
#main-content .downloadable-files ul {
  margin: 0;
  padding: 0;
}
#main-content .downloadable-files ul li {
  list-style: none; 
}
#main-content .content-node .field {
  margin-bottom: 10px;
}

#content-bottom {
  marging-top: 20px;
  margin-bottom:20px;
}
#content-bottom .block,
.region-sidebar .block {
  border: 1px solid #eaeaea;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#content-bottom .block h2,
.region-sidebar .block h2 {
  padding: 8px 10px 10px 10px;
  background-image: -moz-linear-gradient(100% 100% 90deg, #fff, #eaeaea);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#fff));
  background-image: -webkit-linear-gradient(#eaeaea, #fff); 
  background-image: -o-linear-gradient(top, #fff, #eaeaea);
  border-radius: 8px 8px 0 0 / 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}

.region-sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* *** Could this be more generic??? *** */
#content-bottom .block .content,
.region-sidebar .block .content {
  padding: 0 10px 0 10px;
}
.region-sidebar .block ul {
  width: auto;
  padding-left: 5px;
}
.region-sidebar .block ul li {
  list-style: none;
}

.block .views-row {
  margin: 0 0 10px 0;
}

#footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#footer .footer-inner {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
}
#footer .block ul.menu {
  display: inline-block;
  overflow: hidden;
  line-height: 1em;
}
#footer .block ul li {
  margin: 0;
  padding: 0 10px 0 10px;
  list-style: none;
  float: left;
  border-right: 1px solid #999;
}
#footer .block ul li.last {
  border-right: none;
}

.node-teaser .content .submitted {
  float: left;
  width: 130px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #eaeaea;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-image: -moz-linear-gradient(100% 100% 90deg, #fff, #eaeaea);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#fff));
  background-image: -webkit-linear-gradient(#eaeaea, #fff); 
  background-image: -o-linear-gradient(top, #fff, #eaeaea);
  border-radius: 8px;
  -moz-border-radius: 8px;
}
.node-teaser .content .content-inner.with-submitted {
  float: left;
  width: 540px;
}

.node-teaser .content-inner {
  margin-bottom: 20px;
  padding-bottom: 20px; 
  border-bottom: 1px solid #eaeaea;
}
.views-row-last .node-teaser .content-inner {
  border-bottom: none;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

